<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf-8">
	<title>Survey Form</title>

  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/question.css' %}">
    <script type="text/javascript" src="{% static 'main/js/question.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/index.css' %}">



</head>
<body>

    <div class="container right-panel-active">
           <form method="post" action="{% url 'survey_form_submit' %}">
            {% csrf_token %}
        <div class="form" >
            <h2 class="formtitle">성향 테스트</h2>
            <h3 class="formtitle">Q7. 당신은 어떤 종류의 음악을 좋아하시나요?</h3>
              <div class="checkbox-container">
                  <label class="label2"><input type="checkbox" name="q7" value="발라드">발라드</label>
                  <label class="label2"><input type="checkbox" name="q7" value="k-pop">k-pop</label>
                  <label class="label2"><input type="checkbox" name="q7" value="ost">ost</label>
                  <label class="label2"><input type="checkbox" name="q7" value="트로트">트로트</label>
                  <label class="label2"><input type="checkbox" name="q7" value="사극">사극</label>
                  <label class="label2"><input type="checkbox" name="q7" value="클래식">클래식</label>
                  <label class="label2"><input type="checkbox" name="q7" value="재즈">재즈</label>
                  <label class="label2"><input type="checkbox" name="q7" value="힙합">힙합</label>
                  <label class="label2"><input type="checkbox" name="q7" value="록">록</label>
                  <label class="label2"><input type="checkbox" name="q7" value="인디">인디</label>
                  <label class="label2"><input type="checkbox" name="q7" value="R&B">R&B</label>
                </div>
           <a href="/question6" class="btn" >이전</button></a>
            <a href="/result" class="btn">제출</button></a>
        </div>
    </div>


</body>
</html>